{% extends "adminLayout.html" %}

{% block body %}
<form method=post enctype="multipart/form-data" action="/blogpost/submit">
  <input autofocus autocomplete="off" name="post_name" id="name" type="text" required="required" placeholder="Post Name">
  <input autocomplete="off"	name="post_date" id=date type="date" required="required">
  <input autocomplete="off" name="post_summary" id="summary" type="text" placeholder="post Summary">
  <input autocomplete="off" name="post_content" id=content type=text required="required" placeholder='Post content'>
  <input type="submit">
</form>
<script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
<script>
  {% for item in post %}
    document.getElementById("name").innerHTML = "{{item.Title}}"
    console.log("{{item.title}}")
  {% endfor %}
</script>
{% endblock %}