<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    
    
    <!--link to the blog page-->
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="/blog">Blog</a>
        <a href="/review">Reviews</a>
        <a href="/login">Login</a>
    </div>
        
    <div id="mainContent">
        <div id="header">
            <div id="menu-container" onclick="openNav()">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
            </div>
            <a href="/" id="title">Trimil Enterprises</a>
        </div>
        <div id="body">
            <div id="carousel">
                
            </div>
            <p>this is the home page of Trimil Enterprises</p>
            <p>the REALLY cool text on the page</p>
        </div>
    </div>
    <link rel="stylesheet" href="styles.css">
    <script defer src="sideNav.js"></script>
</body>


</html>